<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.soaff.statistics.sales.SalesMapper">

    <sql id="orderBySql">
        <choose>
            <when test="orderBy == '최근날짜순'">
                ORDER BY date DESC
            </when>
            <when test="orderBy == '오래된순'">
                ORDER BY date ASC
            </when>
            <when test="orderBy == '매출량많은순'">
                ORDER BY sales DESC
            </when>
            <when test="orderBy == '매출량적은순'">
                ORDER BY sales ASC
            </when>
            <otherwise>
                ORDER BY date DESC
            </otherwise>
        </choose>
    </sql>
    
    <sql id="searchSql">
	    <if test="filter == '일별'">
	        <if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
	            AND DATE(payment_date) BETWEEN #{start_date} AND #{end_date}
	        </if>
	        <if test="start_date != null and start_date != '' and (end_date == null or end_date == '')">
	            AND DATE(payment_date) BETWEEN #{start_date} AND NOW()
	        </if>
	        <if test="end_date != null and end_date != '' and (start_date == null or start_date == '')">
	            <![CDATA[
	                AND DATE(payment_date) <= #{end_date}
	            ]]>
	        </if>
	    </if>
	    <if test="filter == '주별'">
		    <if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
		        AND payment_date BETWEEN 
		            DATE_ADD(STR_TO_DATE(CONCAT(LEFT(#{start_date}, 4), '-01-01'), '%Y-%m-%d'), INTERVAL (RIGHT(#{start_date}, 2) - 1) WEEK)
		            AND DATE_ADD(STR_TO_DATE(CONCAT(LEFT(#{end_date}, 4), '-01-01'), '%Y-%m-%d'), INTERVAL (RIGHT(#{end_date}, 2)) WEEK)
		    </if>
		    <if test="start_date != null and start_date != '' and (end_date == null or end_date == '')">
		        <![CDATA[
		        AND payment_date >= 
		            DATE_ADD(STR_TO_DATE(CONCAT(LEFT(#{start_date}, 4), '-01-01'), '%Y-%m-%d'), INTERVAL (RIGHT(#{start_date}, 2) - 1) WEEK)
		        ]]>
		    </if>
		    <if test="end_date != null and end_date != '' and (start_date == null or start_date == '')">
		        <![CDATA[
		        AND payment_date <= 
		            DATE_ADD(STR_TO_DATE(CONCAT(LEFT(#{end_date}, 4), '-01-01'), '%Y-%m-%d'), INTERVAL (RIGHT(#{end_date}, 2)) WEEK)
		        ]]>
		    </if>
		</if>
	    <if test="filter == '월별'">
	        <if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
	            AND DATE_FORMAT(payment_date, '%Y-%m') BETWEEN #{start_date} AND #{end_date}
	        </if>
	        <if test="start_date != null and start_date != '' and (end_date == null or end_date == '')">
	        	<![CDATA[
	            	AND DATE_FORMAT(payment_date, '%Y-%m') >= #{start_date}
	            ]]>
	        </if>
	        <if test="end_date != null and end_date != '' and (start_date == null or start_date == '')">
	        	<![CDATA[
	            	AND DATE_FORMAT(payment_date, '%Y-%m') <= #{end_date}
            	]]>
	        </if>
	    </if>
	</sql>
    
    <select id="list" parameterType="kr.co.soaff.statistics.sales.SalesVO" resultType="kr.co.soaff.statistics.sales.SalesVO">
        SELECT 
            <choose>
                <when test="filter == '일별'">
                    DATE(payment_date) AS date
                </when>
                <when test="filter == '주별'">
                    DATE_FORMAT(payment_date, '%Y-%u') AS date
                </when>
                <when test="filter == '월별'">
                    DATE_FORMAT(payment_date, '%Y-%m') AS date
                </when>
                <otherwise>
                    DATE(payment_date) AS date
                </otherwise>
            </choose>,
            SUM(payment_price) AS sales 
        FROM soaff.order
        <where>
            <include refid="searchSql"/>
        </where>
        GROUP BY 
            <choose>
                <when test="filter == '일별'">
                    DATE(payment_date)
                </when>
                <when test="filter == '주별'">
                    DATE_FORMAT(payment_date, '%Y-%u')
                </when>
                <when test="filter == '월별'">
                    DATE_FORMAT(payment_date, '%Y-%m')
                </when>
                <otherwise>
                    DATE(payment_date)
                </otherwise>
            </choose>
        <include refid="orderBySql"/>
        LIMIT #{startIdx}, 20;
    </select>
    
    <!-- list 총 개수 -->
    <select id="count" parameterType="kr.co.soaff.statistics.sales.SalesVO" resultType="int">
    SELECT COUNT(*)
	    FROM (
	        SELECT 
	            <choose>
	                <when test="filter == '일별'">
	                    DATE(payment_date) AS date
	                </when>
	                <when test="filter == '주별'">
	                    DATE_FORMAT(payment_date, '%Y-%u') AS date
	                </when>
	                <when test="filter == '월별'">
	                    DATE_FORMAT(payment_date, '%Y-%m') AS date
	                </when>
	                <otherwise>
	                    DATE(payment_date) AS date
	                </otherwise>
	            </choose>
	        FROM soaff.order 
	        <where>
	            <include refid="searchSql"/>
	        </where>
	        GROUP BY 
	            <choose>
	                <when test="filter == '일별'">
	                    DATE(payment_date)
	                </when>
	                <when test="filter == '주별'">
	                    DATE_FORMAT(payment_date, '%Y-%u')
	                </when>
	                <when test="filter == '월별'">
	                    DATE_FORMAT(payment_date, '%Y-%m')
	                </when>
	                <otherwise>
	                    DATE(payment_date)
	                </otherwise>
	            </choose>
	    ) AS grouped_dates;
	</select>

</mapper>