<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.soaff.qna.QnaMapper">
	<sql id ="ORDERBYSql">
	   <if test="orderBy == null">
	   		ORDER BY
	   			reply_date asc,question_date asc
	   			<!-- null 정렬할떄 무조건 asc -->
	   </if>
	   <if test="orderBy =='최신순'">
	   		ORDER BY
				qna.question_date desc		
	   </if>
		<if test="orderBy =='오래된순'">
			ORDER BY
				qna.question_date asc		
		</if>
	</sql>
	

   <sql id="filter">
    <where>
        <choose>
            <when test="filter == '답변안함'">
                qna.reply IS NULL
                <include refid="searchAndCal"/>
            </when>
            <when test="filter == '답변함'">
                qna.reply IS NOT NULL
                <include refid="searchAndCal"/>
            </when>
            <when test="filter == null">
            	1=1
                <include refid="searchAndCal"/>
            </when>
        </choose>
     </where>
	</sql>
    
    
   <!-- 검색어, 달력 처리 -->
    <sql id="searchAndCal">
            <if test="searchWord != null and searchWord != ''">
                AND(
                item.name LIKE CONCAT('%${searchWord}%')
                OR 
                qna.title LIKE CONCAT('%${searchWord}%')
                OR 
                item.category_name LIKE CONCAT('%${searchWord}%')
                )
            </if>
            <if test="searchWord == null or searchWord == ''">
                AND 1=1
            </if>
            <choose>
                <when test="startDate != null and endDate != null">
                    AND qna.question_date BETWEEN #{startDate} AND #{endDate}
                </when>
                <when test="startDate != null and endDate == null">
                    AND qna.question_date >= #{startDate}
                </when>
                <when test="endDate != null and startDate == null">
                    AND  #{endDate} >= qna.question_date
                </when>
            </choose>
    </sql>
     
	<select id="list" parameterType="kr.co.soaff.qna.QnaVO" resultType="kr.co.soaff.qna.QnaVO">
		SELECT 
			qna.qna_no,item.name,qna.type,
			qna.title,qna.user_id,qna.question_date,
			qna.reply_date
		FROM
			qna  
			INNER JOIN item
			On qna.item_no = item.item_no
		<include refid="filter"/>
		<include refid="ORDERBYSql"/>
		LIMIT #{startIdx}, 20
	</select>
	
	
	
	
	<select id="detail" parameterType="kr.co.soaff.qna.QnaVO" resultType="kr.co.soaff.qna.QnaVO">
		SELECT
			qna.qna_no,qna.question_date,qna.title,qna.type,
			qna.user_id,qna.content,item.name,
			qna.reply,qna.reply_date
		FROM
			qna 
			INNER JOIN item
			On qna.item_no = item.item_no
		WHERE
			qna.qna_no = #{qna_no}
	</select>
	
	<!-- 답변이 널이 될 수 없으니까 전체 삭제가 맞겠지?? -->
	<delete id="deleteContent" parameterType="int">
		DELETE FROM qna
		WHERE qna_no = #{qna_no};
	</delete>
	
	<update id="deleteAndUpdateReply" parameterType="kr.co.soaff.qna.QnaVO">
		<if test="reply =='' or deleteAndUpdateReply ==0">
		UPDATE qna SET reply = NULL WHERE (qna_no = #{qna_no});	
		</if>
		<if test="deleteAndUpdateReply ==1 and reply != null">
		UPDATE qna SET reply = #{reply}, reply_date = DATE_FORMAT(CURRENT_TIMESTAMP, '%Y-%m-%d')
		WHERE (qna_no = #{qna_no});
		</if>
	</update>

	<select id="count" parameterType="kr.co.soaff.qna.QnaVO" resultType="int">
		SELECT 
			count(*)
		FROM
			qna  
			INNER JOIN item
			On qna.item_no = item.item_no
		<include refid="filter"/>
	</select>

</mapper>
