<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.soaff.user.UserAdminMapper">
	
	<!-- 일별 통계 -->
	<select id="day_user" parameterType="kr.co.soaff.user.UserVO">
		SELECT
			substr(#{start_date},1, 10) join_date, COUNT(*) user_cnt
		FROM user
		<if test="orderBy == '가입일자오래된순'">
			ORDER BY date ASC, user_no ASC
		</if>
		<if test="orderBy != '가입일자오래된순'">
			ORDER BY date DESC, user_no DESC
		</if>
		LIMIT #{startIdx}, 20
	</select>
	
	<select id="day_user_delete" parameterType="kr.co.soaff.user.UserVO">
		SELECT
			substr(#{start_date},1, 10) leave_date, COUNT(*) user_cnt
		FROM user
		WHERE `delete` is null
		GROUP BY leave_date
		ORDER BY leave_date;
	</select>
	
	<!-- 월별 통계 -->
	<select id="month_user" parameterType="kr.co.soaff.user.UserVO">
		SELECT
			substr(#{start_date},1, 7) join_date, COUNT(*) user_cnt
		FROM user
		WHERE `delete` is not null
		GROUP BY join_date
		ORDER BY join_date;
	</select>
	
	<select id="month_user_delete" parameterType="kr.co.soaff.user.UserVO">
		SELECT
			substr(#{start_date},1, 7) leave_date, COUNT(*) user_cnt
		FROM user
		WHERE `delete` is null
		GROUP BY leave_date
		ORDER BY leave_date;
	</select>
		
	
</mapper>