<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.soaff.user.UserLoginMapper">

	<!--  회원 로그인 -->
	<select id="login" parameterType="kr.co.soaff.user.UserVO" resultType="kr.co.soaff.user.UserVO">
		SELECT * FROM `user` WHERE id=#{id} AND pw =MD5(#{pw})
	</select>
</mapper>