<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.soaff.item.ItemAdminMapper">

	<sql id="filterSql">
		<if test="filter != null and filter != ''">
            AND i.category_no = #{filter}
        </if>
	</sql>
	
	<sql id="searchSql">
		<if test="searchWord != null and searchWord != ''">
            AND concat_ws("-", i.item_no, i.name)  LIKE CONCAT('%', #{searchWord},'%')
        </if>	
	</sql>
	
	<sql id="orderBySql">
		<choose>
	        <when test="orderBy == '등록일자순'">
	            ORDER BY i.item_regist_date ASC
	        </when>
	        <when test="orderBy == '등록일자역순'">
	            ORDER BY i.item_regist_date DESC
	        </when>
	        <when test="orderBy == '재고량많은순'">
	            ORDER BY i.amount DESC
	        </when>
	        <when test="orderBy == '재고량적은순'">
	            ORDER BY i.amount ASC
	        </when>
	        <when test="orderBy == '판매수량많은순'">
	            ORDER BY od.sales_amount DESC
	        </when>
	        <when test="orderBy == '판매수량적은순'">
	            ORDER BY od.sales_amount ASC
	        </when>
	        <otherwise>
	            ORDER BY i.item_regist_date DESC
	        </otherwise>
	    </choose>
	</sql>
	<!-- 상품 리스트 가져오기 -->
	<select id="list" parameterType="kr.co.soaff.item.ItemVO"
        resultType="kr.co.soaff.item.ItemVO">
	    SELECT i.*, IFNULL(od.sales_amount, 0) AS sales_amount, c.name AS category_name
	    FROM item i
	    LEFT JOIN (
	        SELECT item_no, COUNT(*) AS sales_amount
	        FROM order_detail
	        GROUP BY item_no
	    ) od ON i.item_no = od.item_no
	    LEFT JOIN category c ON i.category_no = c.category_no
	    <where>
		    <include refid="filterSql"></include>
		    <include refid="searchSql"></include>
	    </where>
	    <include refid="orderBySql"></include>
	    LIMIT #{startIdx}, 20
	</select>

	<!-- 상품 상세 정보 가져오기 -->
	<select id="detail" parameterType="kr.co.soaff.item.ItemVO"
			resultType="kr.co.soaff.item.ItemVO">
		SELECT i.*, c.name as category_name FROM item i
		LEFT JOIN category c ON i.category_no = c.category_no 
		WHERE item_no = ${item_no}
	</select>

	<!-- 상품 등록하기 -->
	<insert id="insert" parameterType="kr.co.soaff.item.ItemVO">
		INSERT INTO item (
		category_name, name, description, price,
		discount_rate, discounted_price, amount,
		detail, item_img,
		exposed_status, packable_option,
		packing_price
		) VALUES (
		#{category_name}, #{name}, #{description}, #{price},
		#{discount_rate},
		#{discounted_price}, #{amount},
		#{detail}, #{item_img},
		#{exposed_status}, #{packable_option},
		#{packing_price}
		)
		<selectKey keyProperty="item_no" order="AFTER"
				   resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 상품 상세 정보 수정하기 -->
	<update id="update" parameterType="kr.co.soaff.item.ItemVO">
		UPDATE item SET
						item_img =
							#{item_img},
						category_no = #{category_no},
						name = #{name},
						packable_option = #{packable_option},
						price = #{price},
						discount_rate =
							#{discount_rate},
						discounted_price =
							#{discounted_price},
						exposed_status = #{exposed_status},
						detail = #{detail}
		WHERE item_no = #{item_no}
	</update>
	<!-- 상품 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from item where item_no
								   = #{item_no}
	</delete>

	<!-- 아이템 총 개수 -->
	<select id="count"
			parameterType="kr.co.soaff.item.ItemVO" resultType="int">
		select
			count(*) from item i
		<where>
		    <include refid="filterSql"></include>
		    <include refid="searchSql"></include>
	    </where>	
	</select>
	
	<!-- 카테고리 정보 가져오기 -->
	<select id="categories" resultType="kr.co.soaff.item.CategoryVO">
		SELECT c.category_no , c.name, count(i.item_no) AS quantity  
		FROM category c LEFT OUTER JOIN item i 
		ON c.category_no = i.category_no 
		GROUP BY category_no, c.name;
	</select>
	
	<update id="updateCategory" parameterType="kr.co.soaff.item.CategoryVO">
		UPDATE category SET
						name = #{name}
		WHERE category_no = #{category_no}
	</update>
	
	<delete id="deleteCategory" parameterType="int">
		delete from category where category_no
								   = #{category_no}
	</delete>
	
	<insert id="insertCategory" parameterType="kr.co.soaff.item.CategoryVO">
		INSERT INTO category (
			name
		) VALUES (
			#{name}
		)
		<selectKey keyProperty="category_no" order="AFTER"
				   resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
</mapper>